@import '../../node_modules/bootstrap/dist/css/bootstrap';
@import 'variables';

body {
  color: $text-color;
  padding-bottom: 20px;
  padding-top: 10px;
}

h1 {
  color: $red;
  margin-bottom: 25px;
}

p {
  cursor: pointer;
}

@import 'buttons';
